<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/font-families.css">
        <link rel="stylesheet" href="css/404.css">
        <link rel="icon" href="imgs/timer.png">
        <title>Access Denied</title>
    </head>
    <body>
        <p class="error-text">Sorry, you can't view this page. If you're a registered user, log in to your account.</p>
    </body>
</html>